.header-top{

	height:50px;
	background:#1790cb;
	width:100%;
}

.active{

background:#1790cb;	
}
.header-bottom{


}

#slides{
position:relative;
	margin-top:150px;
}
#overflow{
	position:relative;
}
.box-events{
	text-align:center;
margin:0 auto;
bottom:0px;
position:relative;
}
.inner{
	position:relative;
}
.info{
position:absolute;
font-weight:500;

text-align:center; 	margin:0 auto;
}
.info h3{
position:relative;

	
}
.inner article{

	position:relative;
}
.main_icons{

	width:18%;
	height:250px;
	display:inline-block;
	margin-left:10px;
	text-align:center;
	float:left;
}
.main_icons span{
display:block;
	line-height: 30px;
}
.box-icons{
	margin:0 auto;
	position:relative;
	width:55%;
	height:200px;
}
.box_comunicate{
position:relative;

	height:200px;
	background:#eee;
	margin-top:50px;
	text-align:center;
}
.banner{
	width:100%;
	height:300px;
background-size: 100% 100%;
	background:url('/img/banner.png');
}
.chat_menu_first{
height:50px;
width:100%;
background:#1790cb;	
border-radius: 10px 10px 0 0;
padding-left:20px;
}
.chat_menu{
height:50px;
width:100%;
background:#eee;	
padding-left:20px;
cursor:pointer;
}
.chat_menu_first h5{
	position:relative;
top:10px;
	color:#fff;


}
.chat_menu h5{
	position:relative;
top:10px;
	color:#000;

}

.active_chat_menu{
height:50px;
width:100%;
background:#fff;	
padding-left:20px;
border-left:3px solid #1790cb;
}
.active_chat_menu h5{
	position:relative;
top:10px;
	color:#000;

}
.chat_menu_img{
opacity:0.25;


}
.row_chat{
	position:relative;
overflow:hidden;
height:100px;
width:600px;
}